[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "2.3.3"
flask-sqlalchemy = "3.1.1"
flask-migrate = "4.0.5"
sqlalchemy-serializer = "1.4.1"
flask-restful = "0.3.10"
flask-cors = "4.0.0"
faker = "19.6.1"
flask-marshmallow = "0.15.0"
marshmallow-sqlalchemy = "0.29.0"
flask-bcrypt = "1.0.1"
sqlalchemy = "2.0.21"
flask-socketio = "*"

[requires]
python_full_version = "3.8.13"
